.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 980px;
}

.u-section-1 .u-image-1 {
  width: 613px;
  height: 383px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: -29px auto 0 -38px;
}

.u-section-1 .u-group-1 {
  width: 589px;
  min-height: 113px;
  animation-duration: 1000ms;
  margin: -423px 28px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 0;
  padding-left: 10px;
}

.u-section-1 .u-text-1 {
  font-style: normal;
  margin: 0 28px 0 0;
}

.u-section-1 .u-image-2 {
  width: 619px;
  height: 452px;
  animation-duration: 1000ms;
  margin: 80px 0 0 auto;
}

.u-section-1 .u-group-2 {
  width: 675px;
  min-height: 206px;
  margin: -213px auto 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 0 10px 10px;
}

.u-section-1 .u-text-2 {
  font-style: normal;
  animation-duration: 1000ms;
  margin: 0 19px 0 9px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -69px 9px 60px auto;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 317px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -613px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 876px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 337px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -594px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 394px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: -155px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 212px;
    margin-top: 355px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -507px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 248px;
    margin-top: 118px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -47px;
  }
}.u-section-2 {
  min-height: 719px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  min-height: 753px;
  background-image: url("images/pexels-photo-6165877.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  width: 665px;
  min-height: 719px;
  margin: -30px -30px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 18px -23px 0 -68px;
}

.u-section-2 .u-slider-1 {
  width: 1080px;
  min-height: 666px;
  margin: -625px auto -71px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  width: 614px;
  height: 536px;
  margin: 14px auto 0 67px;
}

.u-section-2 .u-group-2 {
  width: 463px;
  min-height: 395px;
  margin: -504px 111px 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 30px 14px;
}

.u-section-2 .u-text-2 {
  margin: -8px 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  width: 775px;
  height: 475px;
  margin: 106px 0 0 auto;
}

.u-section-2 .u-group-3 {
  width: 618px;
  min-height: 250px;
  margin: -561px auto 0 38px;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-3 {
  margin: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 50px;
}

.u-section-2 .u-image-4 {
  width: 794px;
  height: 567px;
  margin: 0 0 0 auto;
}

.u-section-2 .u-group-4 {
  min-height: 567px;
  width: 340px;
  margin: -567px auto 0 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.125rem;
  margin: -30px auto 0 -30px;
  padding: 24px 50px 24px 48px;
}

.u-section-2 .u-text-4 {
  margin: 80px 0 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 50px;
}

.u-section-2 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.125rem;
  margin: 0 auto 0 0;
  padding: 24px 50px 24px 48px;
}

.u-section-2 .u-group-5 {
  margin-top: -106px;
  margin-bottom: 0;
  min-height: 581px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.125rem;
  margin: 0 auto 0 -30px;
  padding: 24px 50px 24px 48px;
}

.u-section-2 .u-text-5 {
  margin: 10px 0 0 10px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 50px;
}

.u-section-2 .u-image-5 {
  width: 820px;
  height: 459px;
  margin: 0 0 0 160px;
}

.u-section-2 .u-group-6 {
  width: 598px;
  min-height: 250px;
  margin: -103px auto 0 0;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-text-6 {
  margin: 8px 0 0 4px;
}

.u-section-2 .u-carousel-control-1 {
  width: 75px;
  height: 75px;
  background-image: none;
  left: 0;
  top: 259px;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 75px;
  height: 75px;
  background-image: none;
  left: auto;
  top: 259px;
  right: 0;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 593px;
  }

  .u-section-2 .u-image-1 {
    min-height: 621px;
  }

  .u-section-2 .u-group-1 {
    width: 410px;
    margin-right: 0;
  }

  .u-section-2 .u-slider-1 {
    width: 410px;
    height: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 42px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 454px;
  }

  .u-section-2 .u-image-1 {
    min-height: 476px;
  }

  .u-section-2 .u-group-1 {
    width: 300px;
  }

  .u-section-2 .u-slider-1 {
    width: 300px;
    min-height: 570px;
  }

  .u-section-2 .u-image-3 {
    width: 660px;
    height: 405px;
  }

  .u-section-2 .u-group-3 {
    margin-top: -491px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-4 {
    width: 660px;
    height: 471px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -471px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-image-5 {
    width: 660px;
    height: 369px;
    margin-left: 0;
  }

  .u-section-2 .u-group-6 {
    margin-top: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 781px;
  }

  .u-section-2 .u-image-1 {
    min-height: 357px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-slider-1 {
    min-height: 470px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    height: 471px;
    margin-left: 0;
  }

  .u-section-2 .u-group-2 {
    margin-top: -439px;
    margin-right: 77px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 520px;
    height: 319px;
  }

  .u-section-2 .u-group-3 {
    width: 520px;
    margin-top: -405px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    width: 520px;
    height: 371px;
  }

  .u-section-2 .u-group-4 {
    margin-top: -371px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    width: 520px;
    height: 291px;
  }

  .u-section-2 .u-group-6 {
    width: 520px;
    margin-top: 65px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 529px;
  }

  .u-section-2 .u-image-1 {
    min-height: 429px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 296px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 297px;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
    margin-top: -265px;
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 196px;
  }

  .u-section-2 .u-group-3 {
    width: 320px;
    margin-top: -282px;
  }

  .u-section-2 .u-image-4 {
    width: 320px;
    height: 228px;
  }

  .u-section-2 .u-group-4 {
    width: 320px;
    margin-top: -228px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    width: 320px;
    height: 179px;
  }

  .u-section-2 .u-group-6 {
    width: 320px;
  }
}H2:HOVER
{
	color : green;
}
H4:HOVER
{
	color : red;
}
H5:HOVER
{
	color : blue;
}
H3:HOVER
{
	color : pink;
}